<c-col xs="12" class="d-flex flex-column">
    <c-card class="w-100 mb-3" style="height: 300px; overflow: auto;">
        <c-card-body>
            <!-- Content of the first small card -->
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
            Small Card 1 Content <br/>
        </c-card-body>
    </c-card>

    <!-- Second Small Card -->
    <c-card class="w-100" style="height: 280px; overflow: auto;">
        <c-card-body>
            <!-- Content of the second small card -->
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>
            Small Card 2 Content <Br/>

        </c-card-body>
    </c-card>
</c-col>
