/backend/target/
/backend/logs
/backend/MixewayFlowAPI.iml

/frontend/.angular
/frontend/node_modules
/frontend/.DS_Store
/frontend/package-lock.json
/frontend/src/.DS_Store
/frontend/src/assets/.DS_Store
/frontend/coverage
#frontend/src/environments

/backend/volnerability-check-main/poetry.lock
/backend/volnerability-check-main/data
/backend/volnerability-check-main/results
.idea
.DS_Store
*.ipr
*.iws