<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
    <c-container breakpoint="md">
        <c-row class="justify-content-center">
            <c-col lg="10" xl="8">
                <c-card-group>
                    <c-card class="p-4">
                        <c-card-body>
                            <form #changePasswordForm="ngForm" (ngSubmit)="onChangePassword(changePasswordForm)" cForm class="row g-3 needs-validation" [ngClass]="{'was-validated': submitted}">
                                <h1>Change Password</h1>
                                <p class="text-body-secondary">Set Your New Password</p>

                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span>
                                    <input
                                            autoComplete="new-password"
                                            cFormControl
                                            placeholder="New Password"
                                            type="password"
                                            name="newPassword"
                                            required
                                            minlength="8"
                                            [(ngModel)]="newPassword"
                                            #newPasswordCtrl="ngModel"
                                    />
                                    <c-form-feedback *ngIf="isFieldInvalid(newPasswordCtrl) && newPasswordCtrl.errors?.['required']" [valid]="false">New Password is required.</c-form-feedback>
                                    <c-form-feedback *ngIf="isFieldInvalid(newPasswordCtrl) && newPasswordCtrl.errors?.['minlength']" [valid]="false">New Password must be at least 8 characters long.</c-form-feedback>
                                </c-input-group>

                                <c-input-group class="mb-4">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span>
                                    <input
                                            autoComplete="new-password"
                                            cFormControl
                                            placeholder="Confirm New Password"
                                            type="password"
                                            name="confirmPassword"
                                            required
                                            minlength="8"
                                            [(ngModel)]="confirmPassword"
                                            #confirmPasswordCtrl="ngModel"
                                    />
                                    <c-form-feedback *ngIf="isFieldInvalid(confirmPasswordCtrl) && confirmPasswordCtrl.errors?.['required']" [valid]="false">Confirm Password is required.</c-form-feedback>
                                </c-input-group>

                                <!-- Password mismatch error message -->
                                <c-form-feedback *ngIf="submitted && passwordMismatch" [valid]="false" class="mb-4">Passwords do not match.</c-form-feedback>

                                <c-row>
                                    <c-col xs="6">
                                        <button cButton class="px-4" color="primary" type="submit">
                                            Change Password
                                        </button>
                                    </c-col>
                                </c-row>
                            </form>



                        </c-card-body>
                    </c-card>
                    <c-card [style]="{'minWidth.%': 44}" class="text-white bg-info-subtle py-5">
                        <c-card-body class="text-center">
                            <div class="image-container">
                                <img src="assets/images/logo_fill_text.png" class="img-fluid">
                            </div>
                        </c-card-body>
                    </c-card>
                </c-card-group>
            </c-col>
        </c-row>
    </c-container>
</div>


<c-toaster [placement]="position" class="p-3" position="fixed">
    <c-toast
            [color]="toastStatus"
            (visibleChange)="onVisibleChange($event)"
            [visible]="visible">
        <c-toast-header>
            Change Password
        </c-toast-header>
        <c-toast-body>
            <p>{{toastMessage}}</p>
        </c-toast-body>
    </c-toast>
</c-toaster>