<c-row class="d-flex align-items-stretch">
    <c-col xs="8">
        <c-card class="mb-4 h-100">
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
                <!-- Project Name -->
                <h2 style="margin-bottom: 1rem;"><strong>{{repoData?.name}}</strong> &nbsp;
                    <c-spinner *ngIf="scanRunning" [cTooltip]="'There is a scan currently running for this repository'"  style="color: #c1a7a7"></c-spinner></h2>

                <button
                        color="secondary"
                        cButton
                >
                    <svg cIcon class="me-2" name="cib-github"></svg>
                    {{repoData?.repourl}}
                </button>


                <!-- Date of Creation -->
                <small style="margin-top: 1rem;">Default branch: {{repoData?.defaultBranch.name}}</small>
                <small style="margin-top: 1rem;">Created: {{repoData?.insertedDate | date }}</small>
                <button *ngIf="!scanRunning && userRole==='ADMIN'" cButton color="info" shape="rounded-pill" style="margin-top:10px;" (click)="runScan()">Run Scan</button>

                <br/>
            </div>
            <c-card-footer>
                <c-row class="d-flex justify-content-center align-items-center text-center mb-2" [xl]="5" [lg]="4" [sm]="2" [xs]="1">
                    <ng-container *ngFor="let lang of topLanguages">
                        <c-col class="d-flex flex-column justify-content-center">
                            <div class="text-body-secondary">{{ lang.name }}</div>
                            <strong>({{ lang.value }}%)</strong>
                            <c-progress class="mt-2" thin [color]="lang.color" [value]="lang.value" aria-label="User visits"></c-progress>
                        </c-col>
                    </ng-container>
                </c-row>
            </c-card-footer>
        </c-card>
    </c-col>
    <c-col xs="4">
        <c-card class="mb-4 h-100">
            <c-card-header>
                Vulnerabilities source
            </c-card-header>
            <c-card-body size="large">
                <c-chart type="pie" [data]="chartPieData" [options]="options"></c-chart>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<br/>

<c-row>
    <c-col lg="4" xs="12">
        <c-widget-stat-f
                [title]="'CRITICAL Findings'"
                class="mb-3"
                color="danger"
                padding
                [value]="counts?.critical"
        >
            <ng-template cTemplateId="widgetIconTemplate">
                <svg [cIcon]="icons.cilBug" size="xl" width="24"></svg>
            </ng-template>
        </c-widget-stat-f>
    </c-col>
    <c-col lg="4" xs="12">
        <c-widget-stat-f
                [title]="'HIGH Findings'"
                class="mb-3"
                color="warning"
                padding
                [value]="counts?.high"
        >
            <ng-template cTemplateId="widgetIconTemplate">
                <svg [cIcon]="icons.cilCenterFocus" size="xl" width="24"></svg>
            </ng-template>
        </c-widget-stat-f>
    </c-col>
    <c-col lg="4" xs="12">
        <c-widget-stat-f
                [title]="'Rest Findings'"
                class="mb-3"
                color="primary"
                padding
                [value]="counts?.rest"
        >
            <ng-template cTemplateId="widgetIconTemplate">
                <svg [cIcon]="icons.cilCommentSquare" size="xl" width="24"></svg>
            </ng-template>
        </c-widget-stat-f>
    </c-col>
</c-row>

<c-row>
    <c-col class="xs-12">
        <c-tabs [activeItemKey]="0">
            <c-tabs-list variant="underline-border">
                <button cTab [itemKey]="0">
                    <svg cIcon name="cil-bug" class="me-2"></svg> Vulnerabilities
                </button>
                <button cTab [itemKey]="1">
                    <svg cIcon name="cil-chart-line" class="me-2"></svg> Statistics and Trends
                </button>
                <button cTab [itemKey]="2">
                    <svg cIcon name="cil-share-alt" class="me-2"></svg> Data Privacy
                </button>
                <button cTab [itemKey]="3">
                    <svg cIcon name="cil-puzzle" class="me-2"></svg> OpenSource Components
                </button>
                <button cTab [itemKey]="4">
                    <svg cIcon name="cil-burn" class="me-2"></svg> Notifications
                </button>
                <button cTab [itemKey]="5">
                    <svg cIcon name="cil-info" class="me-2"></svg> Additional Infos
                </button>
            </c-tabs-list>
            <c-tabs-content>
                <c-tab-panel class="p-3" [itemKey]="0">
                    <c-card>
                        <c-card-header>

                            <c-row class="align-items-center">
                                <c-col xs="auto">
                                    <label cLabel class="visually-hidden" for="autoSizingSelect">
                                        Preference
                                    </label>
                                    <select cSelect id="autoSizingSelect" class="form-select" (change)="onBranchSelect($event)">
                                        <option>Select branch. Default: {{repoData?.defaultBranch.name}}</option>

                                        <option *ngFor="let branch of repoData?.branches" [value]="branch.id">{{ branch.name }}</option>
                                    </select>
                                </c-col>
                                <c-col xs="auto">
                                    <c-form-check class="d-flex align-items-center">
                                        <input cFormCheckInput id="showRemoved" name="showRemoved" type="checkbox" (change)="toggleShowRemoved($event)" />
                                        <label cFormCheckLabel for="showRemoved" class="mb-0 ms-2">Show Removed Vulnerabilities</label>
                                    </c-form-check>
                                </c-col>
                                <c-col xs="auto">
                                    <c-form-check class="d-flex align-items-center">
                                        <input cFormCheckInput id="showSuppressed" name="showSuppressed" type="checkbox" (change)="toggleShowSuppressed($event)" />
                                        <label cFormCheckLabel for="showSuppressed" class="mb-0 ms-2">Show Suppressed Vulnerabilities</label>
                                    </c-form-check>
                                </c-col>
                            </c-row>

                        </c-card-header>
                        <c-card-body>
                            <ngx-datatable
                                    class="bootstrap"
                                    [rows]="filteredVulns"
                                    [columnMode]="'force'"
                                    [footerHeight]="50"
                                    [headerHeight]="80"
                                    [rowHeight]="'auto'"
                                    [limit]="15">

                                <ngx-datatable-column name="Actions" prop="name2" [width]="50" [sortable]="false">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <button type="button" class="btn btn-outline-info" (click)='click(row)'>
                                                <svg cIcon name="cil-magnifying-glass"></svg>
                                            </button>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Name" prop="name" [sortable]="false">
                                    <ng-template ngx-datatable-header-template>
                                        <c-input-group class="mb-3">
                <span cInputGroupText id="filterTable">
                  <svg cIcon name="cil-magnifying-glass" class="icon"></svg>
                </span>
                                            <input aria-describedby="addon-wrapping"
                                                   aria-label="Access Token"
                                                   type="text" class="form-control" placeholder="Filter Name" (input)="updateFilterName($event)"
                                            />
                                        </c-input-group>
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                        <div class="d-flex align-items-center justify-content-center">
                                            {{ row?.name }}
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Location" prop="location" [sortable]="false">
                                    <ng-template ngx-datatable-header-template>
                                        <c-input-group class="mb-3">
                                            <span cInputGroupText id="filterTableLocation">
                                              <svg cIcon name="cil-magnifying-glass" class="icon"></svg>
                                            </span>
                                            <input aria-describedby="addon-wrapping"
                                                   aria-label="Access Token"
                                                   type="text" class="form-control" placeholder="Filter Location" (input)="updateFilterLocation($event)"
                                            />
                                        </c-input-group>
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                        <div class="d-flex align-items-center justify-content-center location-cell">
                                            {{ row?.location }}
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Source" prop="source" [sortable]="false">
                                    <ng-template ngx-datatable-header-template>
                                        <c-input-group class="mb-3">
                                            <span cInputGroupText id="filterTableSource">
                                              <svg cIcon name="cil-magnifying-glass" class="icon"></svg>
                                            </span>
                                            <select class="form-control" (change)="updateFilterSource($event)">
                                                <option value="">Sources: All</option>
                                                <option value="SAST">SAST</option>
                                                <option value="IaC">IaC</option>
                                                <option value="Secrets">Secrets</option>
                                                <option value="SCA">SCA</option>
                                            </select>
                                        </c-input-group>
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <c-badge *ngIf="row?.source === 'SAST'" color="primary">SAST</c-badge>
                                            <c-badge *ngIf="row?.source === 'IAC'" color="info">IaC</c-badge>
                                            <c-badge *ngIf="row?.source === 'SECRETS'" color="danger">Secrets</c-badge>
                                            <c-badge *ngIf="row?.source === 'SCA'" color="warning">SCA</c-badge>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Status" prop="status" [sortable]="false">
                                    <ng-template ngx-datatable-header-template>
                                        <c-input-group class="mb-3">
                                            <span cInputGroupText id="filterTableStatus">
                                              <svg cIcon name="cil-magnifying-glass" class="icon"></svg>
                                            </span>
                                            <select class="form-control" (change)="updateFilterStatus($event)">
                                                <option value="">Statuses: All</option>
                                                <option value="New">New</option>
                                                <option value="Existing">Existing</option>
                                                <option value="Removed">Removed</option>
                                                <option value="Supressed">Suppressed</option>
                                            </select>
                                        </c-input-group>
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <svg cIcon *ngIf="row?.status === 'NEW'" name="cil-burn" class="me-2"></svg>
                                            <svg cIcon *ngIf="row?.status === 'EXISTING'" name="cil-graph" class="me-2"></svg>
                                            <svg cIcon *ngIf="row?.status === 'REMOVED'" name="cil-trash" class="me-2"></svg>
                                            <svg cIcon *ngIf="row?.status === 'SUPRESSED'" name="cil-volume-off" class="me-2"></svg>
                                            {{ row?.status }}
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Severity" prop="severity" [sortable]="false">
                                    <ng-template ngx-datatable-header-template>
                                        <c-input-group class="mb-3">
                                            <span cInputGroupText id="filterTableSeverity">
                                              <svg cIcon name="cil-magnifying-glass" class="icon"></svg>
                                            </span>
                                            <select class="form-control" (change)="updateFilterSeverity($event)">
                                                <option value="">Severities: All</option>
                                                <option value="Critical">Critical</option>
                                                <option value="High">High</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Low">Low</option>
                                                <option value="Info">Info</option>
                                            </select>
                                        </c-input-group>
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <span *ngIf="row?.severity === 'HIGH'" class="dot high"></span>
                                            <span *ngIf="row?.severity == 'MEDIUM'" class="dot medium"></span>
                                            <span *ngIf="row?.severity == 'LOW'" class="dot low"></span>
                                            <span *ngIf="row?.severity == 'INFO'" class="dot low"></span>
                                            <c-spinner *ngIf="row?.severity === 'CRITICAL'" color="danger" variant="grow" size="sm"></c-spinner>
                                            <span *ngIf="row?.severity === 'HIGH'" style="margin-left: 8px;" class="high-t">{{ row?.severity }}</span>
                                            <span *ngIf="row?.severity === 'CRITICAL'" style="margin-left: 8px;" class="high-t">{{ row?.severity }}</span>
                                            <span *ngIf="row?.severity === 'MEDIUM'" style="margin-left: 8px;" class="medium-t">{{ row?.severity }}</span>
                                            <span *ngIf="row?.severity === 'LOW'" style="margin-left: 8px;" class="low-t">{{ row?.severity }}</span>
                                            <span *ngIf="row?.severity === 'INFO'" style="margin-left: 8px;" class="low-t">{{ row?.severity }}</span>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Dates" prop="inserted" [sortable]="false">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                        <div >
                                            <strong>Inserted:</strong> {{row?.inserted | date}} <br/>
                                            <strong>Last Seen:</strong> {{row?.last_seen | date}}
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>


                        </c-card-body>
                    </c-card>
                </c-tab-panel>
                <c-tab-panel class="p-3" [itemKey]="1">
                    <c-row class="d-flex align-items-stretch">
                        <c-col xs="8">
                            <c-card class="mb-4 h-100">
                                <c-card-header>
                                    Vuln trend chart for default branch
                                </c-card-header>
                                <c-card-body>
                                    <c-chart type="line" [data]="chartLineData" [options]="options2"></c-chart>
                                </c-card-body>
                            </c-card>
                        </c-col>
                        <c-col xs="4">
                            <c-card class="mb-4 h-100">
                                <c-card-header>
                                    Stats
                                    <p (click)="refreshData()" style="display: inline"><c-icon name="cil-sync" class="ml-2" style="cursor: pointer;"></c-icon></p>

                                </c-card-header>
                                <c-card-body class="d-flex flex-column justify-content-center align-items-center">
                                    <c-row class="w-100 d-flex justify-content-around mb-3">
                                        <c-col xl="6" lg="6" sm="12" class="mb-4">
                                            <c-widget-stat-c [title]="'Opened Findings'" [value]="getLastOpenedFindings() ==0 ? 'None':getLastOpenedFindings()">
                                                <ng-template cTemplateId="widgetIconTemplate">
                                                    <svg cIcon height="36" name="cilChartLine"></svg>
                                                </ng-template>
                                                <ng-template cTemplateId="widgetProgressTemplate">
                                                    <c-progress class="mt-3 mb-0" thin [value]="75" color="info"></c-progress>
                                                </ng-template>
                                            </c-widget-stat-c>
                                        </c-col>
                                        <c-col xl="6" lg="6" sm="12" class="mb-4">
                                            <c-widget-stat-c [title]="'Closed Findings'" [value]="getLastRemovedFinding() == 0 ? 'None' : getLastRemovedFinding()">
                                                <ng-template cTemplateId="widgetIconTemplate">
                                                    <svg cIcon height="36" name="cilInput"></svg>
                                                </ng-template>
                                                <ng-template cTemplateId="widgetProgressTemplate">
                                                    <c-progress class="mt-3 mb-0" thin [value]="75" color="success"></c-progress>
                                                </ng-template>
                                            </c-widget-stat-c>
                                        </c-col>
                                    </c-row>
                                    <c-row class="w-100 d-flex justify-content-around">
                                        <c-col xl="6" lg="6" sm="12" class="mb-4">
                                            <c-widget-stat-c [title]="'Reviewed Findings'" [value]="getLastRevievedFinding() == 0 ? 'None' : getLastRevievedFinding()">
                                                <ng-template cTemplateId="widgetIconTemplate">
                                                    <svg cIcon height="36" name="cilBrush"></svg>
                                                </ng-template>
                                                <ng-template cTemplateId="widgetProgressTemplate">
                                                    <c-progress class="mt-3 mb-0" thin [value]="80" color="warning"></c-progress>
                                                </ng-template>
                                            </c-widget-stat-c>
                                        </c-col>
                                        <c-col xl="6" lg="6" sm="12" class="mb-4">
                                            <c-widget-stat-c [title]="'Time to Fix [days]'" [value]="getLastFixTime() == 0 ? 'Unknown' : getLastFixTime()">
                                                <ng-template cTemplateId="widgetIconTemplate">
                                                    <svg cIcon height="36" name="cilClock"></svg>
                                                </ng-template>
                                                <ng-template cTemplateId="widgetProgressTemplate">
                                                    <c-progress class="mt-3 mb-0" thin [value]="65" color="danger"></c-progress>
                                                </ng-template>
                                            </c-widget-stat-c>
                                        </c-col>
                                    </c-row>
                                </c-card-body>
                            </c-card>
                        </c-col>
                    </c-row>
                    <br/>
                    <c-row class="d-flex align-items-stretch">
                        <c-col xs="12">
                            <c-card>
                                <c-card-header>
                                    Scan Statistics
                                </c-card-header>
                                <c-card-body>
                                    <ngx-datatable
                                            class="bootstrap"
                                            [rows]="scanInfosFiltered"
                                            [columnMode]="'force'"
                                            [footerHeight]="50"
                                            [headerHeight]="80"
                                            [rowHeight]="'auto'"
                                            [limit]="15">

                                        <!-- Branch Column -->
                                        <ngx-datatable-column name="Branch" prop="codeRepoBranch.name" [sortable]="false" [width]="50">
                                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                                <div class="vertical-align">
                                                    <svg cIcon class="me-2" name="cil-share-alt"></svg>
                                                    <span>{{ row?.codeRepoBranch?.name }}</span>
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- CommitId Column -->
                                        <ngx-datatable-column name="CommitId" prop="commitId" [sortable]="false" [width]="3000">
                                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                                <div class="vertical-align">
                                                    {{row.commitId}}
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Performed Scan Column -->
                                        <ngx-datatable-column name="Performed Scan" prop="insertedDate" [sortable]="false" [width]="100">
                                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                                <div class="vertical-align">
                                                    {{row.insertedDate | date}}
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Results Column -->
                                        <ngx-datatable-column name="Results" prop="insertedDate" [sortable]="false" [width]="1500">
                                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                                <div class="vertical-align-multiple">
                                                    <p>SAST <c-badge color="danger">{{row.sastCritical}}</c-badge> &nbsp; <c-badge color="warning">{{row.sastHigh}}</c-badge></p>
                                                    <p>SCA <c-badge color="danger">{{row.scaCritical}}</c-badge> &nbsp; <c-badge color="warning">{{row.scaHigh}}</c-badge></p>
                                                    <p>IAC <c-badge color="danger">{{row.iacCritical}}</c-badge> &nbsp; <c-badge color="warning">{{row.iacHigh}}</c-badge></p>
                                                    <p>Secrets <c-badge color="danger">{{row.secretsCritical}}</c-badge> &nbsp; <c-badge color="warning">{{row.secretsHigh}}</c-badge></p>
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable>

                                </c-card-body>
                            </c-card>
                        </c-col>
                    </c-row>
                </c-tab-panel>
                <c-tab-panel class="p-3" [itemKey]="2">
                    <c-accordion>
                        <ng-container *ngFor="let group of grouppedDataTypes; let i = index">
                            <c-accordion-item [visible]="isAccordionVisible[i]">
                                <ng-template cTemplateId="accordionHeaderTemplate">
                                    <button (click)="toggleAccordion(i)" [collapsed]="!isAccordionVisible[i]" cAccordionButton>
                                        {{ group.categoryGroup }}
                                    </button>
                                </ng-template>
                                <ng-template cTemplateId="accordionBodyTemplate">
                                    <div class="accordion-body">
                                        <c-card *ngFor="let appDataType of group.appDataTypes">
                                            <c-card-header>
                                                <c-badge color="primary">{{ appDataType.categoryName }} - {{ appDataType.name }}</c-badge>

                                            </c-card-header>
                                            <c-card-body>
                                                <ul cListGroup>
                                                    <li *ngFor="let locationKey of getKeys(appDataType.location)" cListGroupItem>
                                                        <c-badge color="secondary">{{ locationKey }}</c-badge> : <c-badge color="secondary">{{ appDataType?.location[locationKey] }}</c-badge>
                                                    </li>
                                                </ul>
                                            </c-card-body>
                                        </c-card>

                                    </div>
                                </ng-template>
                            </c-accordion-item>
                        </ng-container>
                    </c-accordion>


                </c-tab-panel>
                <c-tab-panel class="p-3" [itemKey]="3">

                    <c-card>
                        <c-card-header>
                            List of components detected in the repo
                        </c-card-header>
                        <c-card-body>
                            <ngx-datatable
                                    class="bootstrap"
                                    [rows]="filteredComponents"
                                    [columnMode]="'force'"
                                    [footerHeight]="50"
                                    [headerHeight]="80"
                                    [rowHeight]="'auto'"
                                    [limit]="10">

                                <ngx-datatable-column name="Group" prop="groupid" [sortable]="false">
                                    <ng-template ngx-datatable-header-template>
                                        <c-input-group class="mb-3">
                                            <span cInputGroupText id="filterGroup">
                                              <svg cIcon name="cil-magnifying-glass" class="icon"></svg>
                                            </span>
                                            <input aria-describedby="addon-wrapping"
                                                   aria-label="Filter Group"
                                                   type="text" class="form-control" placeholder="Filter Group" (input)="updateFilterGroup($event)"
                                            />
                                        </c-input-group>
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                        {{ row?.groupid }}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Name" prop="name" [sortable]="false">
                                    <ng-template ngx-datatable-header-template>
                                        <c-input-group class="mb-3">
                                            <span cInputGroupText id="filterName">
                                              <svg cIcon name="cil-magnifying-glass" class="icon"></svg>
                                            </span>
                                            <input aria-describedby="addon-wrapping"
                                                   aria-label="Filter Name"
                                                   type="text" class="form-control" placeholder="Filter Name" (input)="updateFilterNameNew($event)"
                                            />
                                        </c-input-group>
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                        {{ row?.name }}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Version" prop="version" [sortable]="false">
                                    <ng-template ngx-datatable-header-template>
                                        <c-input-group class="mb-3">
                                            <span cInputGroupText id="filterVersion">
                                              <svg cIcon name="cil-magnifying-glass" class="icon"></svg>
                                            </span>
                                            <input aria-describedby="addon-wrapping"
                                                   aria-label="Filter Version"
                                                   type="text" class="form-control" placeholder="Filter Version" (input)="updateFilterVersion($event)"
                                            />
                                        </c-input-group>
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                        {{ row?.version }}
                                    </ng-template>
                                </ngx-datatable-column>

                            </ngx-datatable>

                        </c-card-body>
                    </c-card>


                </c-tab-panel>
                <c-tab-panel class="p-3" [itemKey]="4">
                    <c-alert color="primary" class="d-flex align-items-center">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                            <use xlink:href="#info-fill" />
                        </svg>
                        <div>This part will be developed in next releases.
                            In this section You will discover information about notification</div>
                    </c-alert>
                </c-tab-panel>
                <c-tab-panel class="p-3" [itemKey]="5">
                    <c-alert color="primary" class="d-flex align-items-center">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                            <use xlink:href="#info-fill" />
                        </svg>
                        <div>This part will be developed in next releases.
                            In this section You will discover information about how to integrate MixewayFlow for this repo into CICD smoothly</div>
                    </c-alert>
                </c-tab-panel>
            </c-tabs-content>
        </c-tabs>
    </c-col>
</c-row>

<c-modal size="lg" id="detailsModal" alignment="center" [visible]="detailsModal" (visibleChange)="handleDetailsModal($event)">
    <c-modal-header>
        <h5 cModalTitle>Vulnerability Details</h5>
    </c-modal-header>
    <c-modal-body>
        <div *ngIf="selectedRowId !== null">
            <!--<p>Vulnerability ID: {{ selectedRowId }}</p>
           Add more details about the vulnerability here -->
            <c-row>
                <c-col xs="8">
                    <c-card class="mb-4 h-100">
                        <c-card-header>
                            {{ singleVuln?.vulnsResponseDto?.name }}
                        </c-card-header>
                        <c-card-body>
                            <u><b>Location:</b></u> {{singleVuln?.vulnsResponseDto?.location}}
                        </c-card-body>
                        <c-card-footer><u><b>Status:</b></u> &nbsp;&nbsp;
                            <svg cIcon *ngIf="singleVuln?.vulnsResponseDto?.status === 'NEW'" name="cil-burn" class="me-2"></svg>
                            <svg cIcon *ngIf="singleVuln?.vulnsResponseDto?.status === 'EXISTING'" name="cil-graph" class="me-2"></svg>
                            <svg cIcon *ngIf="singleVuln?.vulnsResponseDto?.status === 'REMOVED'" name="cil-trash" class="me-2"></svg>
                            <svg cIcon *ngIf="singleVuln?.vulnsResponseDto?.status === 'SUPRESSED'" name="cil-volume-off" class="me-2"></svg>
                            {{ singleVuln?.vulnsResponseDto?.status }}

                        </c-card-footer>
                    </c-card>
                </c-col>
                <c-col xs="4">
                    <c-card class="mb-4 h-100">
                        <c-card-header>
                            <div class="d-flex align-items-center justify-content-center">
                                <span *ngIf="singleVuln?.vulnsResponseDto?.severity === 'HIGH'" class="dot high"></span>
                                <span *ngIf="singleVuln?.vulnsResponseDto?.severity == 'MEDIUM'" class="dot medium"></span>
                                <span *ngIf="singleVuln?.vulnsResponseDto?.severity == 'LOW'" class="dot low"></span>
                                <span *ngIf="singleVuln?.vulnsResponseDto?.severity == 'INFO'" class="dot low"></span>
                                <c-spinner *ngIf="singleVuln?.vulnsResponseDto?.severity === 'CRITICAL'" color="danger" variant="grow" size="sm"></c-spinner>
                                <span *ngIf="singleVuln?.vulnsResponseDto?.severity === 'HIGH'" style="margin-left: 8px;" class="high-t">{{ singleVuln?.vulnsResponseDto?.severity }}</span>
                                <span *ngIf="singleVuln?.vulnsResponseDto?.severity === 'CRITICAL'" style="margin-left: 8px;" class="high-t">{{ singleVuln?.vulnsResponseDto?.severity }}</span>
                                <span *ngIf="singleVuln?.vulnsResponseDto?.severity === 'MEDIUM'" style="margin-left: 8px;" class="medium-t">{{ singleVuln?.vulnsResponseDto?.severity }}</span>
                                <span *ngIf="singleVuln?.vulnsResponseDto?.severity === 'LOW'" style="margin-left: 8px;" class="low-t">{{ singleVuln?.vulnsResponseDto?.severity }}</span>
                                <span *ngIf="singleVuln?.vulnsResponseDto?.severity === 'INFO'" style="margin-left: 8px;" class="low-t">{{ singleVuln?.vulnsResponseDto?.severity }}</span>
                            </div>
                        </c-card-header>
                        <c-card-body size="large">
                            <u><b>Detected:</b></u> &nbsp;&nbsp; {{singleVuln?.vulnsResponseDto?.inserted | date}} <br/>
                            <u><b>Last Seen:</b></u> &nbsp;&nbsp; {{singleVuln?.vulnsResponseDto?.last_seen | date}}
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
            <br/>
            <c-row>
                <c-col xs="12">
                    <c-tabs [activeItemKey]="1" >
                        <c-tabs-list variant="underline-border">
                            <button cTab [itemKey]="0">Description</button>
                            <button cTab [itemKey]="1">Recommendation</button>
                            <button cTab [itemKey]="2">Explanation</button>
                            <button cTab [itemKey]="3">References</button>
                        </c-tabs-list>
                        <c-tabs-content>
                            <c-tab-panel class="p-3" [itemKey]="0" >
                                {{singleVuln?.description? singleVuln?.description : 'No description available at this moment'}}
                            </c-tab-panel>
                            <c-tab-panel class="p-3" [itemKey]="1">
                                {{singleVuln?.recommendation? singleVuln?.recommendation : 'No recommendation available at this moment'}}
                            </c-tab-panel>
                            <c-tab-panel class="p-3" [itemKey]="2">
                                {{singleVuln?.explanation? singleVuln?.explanation : 'No Explanation available at this moment'}}
                            </c-tab-panel>
                            <c-tab-panel class="p-4" [itemKey]="3">
                                {{singleVuln?.refs? singleVuln?.refs : 'No references available at this moment'}}
                            </c-tab-panel>
                        </c-tabs-content>
                    </c-tabs>
                </c-col>
            </c-row>
        </div>

    </c-modal-body>
    <c-modal-footer>
        <form *ngIf="singleVuln?.vulnsResponseDto?.status != 'SUPRESSED'" class="d-flex align-items-center" (ngSubmit)="suppressFinding()">
            <label for="suppressReason" class="me-2">Suppress finding: </label>
            <select id="suppressReason" class="form-select me-2" [(ngModel)]="suppressReason" name="suppressReason" required>
                <option *ngFor="let reason of suppressReasons" [value]="reason">{{ reason }}</option>
            </select>
            <button type="submit" cButton color="warning" class="me-2">Suppress</button>
        </form>
        <button (click)="reactivateFinding()" *ngIf="singleVuln?.vulnsResponseDto?.status == 'SUPRESSED'" type="submit" cButton color="primary" class="me-2">Re-Activate Finding</button>
        <button (click)="closeModal()" cButton color="secondary">
            Close
        </button>
    </c-modal-footer>
</c-modal>

<c-toaster [placement]="position" class="p-3" position="fixed">
    <c-toast
            [color]="toastStatus"
            (visibleChange)="onVisibleChange($event)"
            [visible]="visible">
        <c-toast-header>
            Finding management
        </c-toast-header>
        <c-toast-body>
            <p>{{toastMessage}}</p>
        </c-toast-body>
    </c-toast>
</c-toaster>
