<c-row class="d-flex align-items-stretch">
    <c-col xs="4">
        <app-threat-score *ngIf="findings" [threatScore]="threatScore"/>
    </c-col>
    <c-col xs="8">
        <app-infos *ngIf="findings" [teams]="teams" [affectedProjects]="affectedProjects" [allProjects]="allProjects" [openedVulns]="openedVulns" />
    </c-col>
</c-row>

<br/>

<c-row class="d-flex align-items-stretch">
    <c-col xs="8">
        <app-threat-list *ngIf="findings" [items]="findings" />
    </c-col>
    <c-col xs="4">
        <app-reviews />
    </c-col>
</c-row>

<br/>

<c-row class="d-flex align-items-stretch">
    <c-col xs="12">
        <app-waivers />
    </c-col>
</c-row>
<br/>