<c-row class="d-flex align-items-stretch">
    <c-col xs="4">
        <!-- Display the threat score component when data is available -->
        <app-threat-score *ngIf="threatScore" [threatScore]="threatScore"></app-threat-score>

        <!-- Centered spinner button when data is loading -->
        <div *ngIf="!threatScore" class="d-flex justify-content-center align-items-center h-100">
            <c-spinner color="primary"/>
        </div>
    </c-col>

    <c-col xs="8">
        <!-- Display the infos component when data is available -->
        <app-infos
                *ngIf="findings"
                [teams]="teams"
                [affectedProjects]="affectedProjects"
                [allProjects]="allProjects"
                [openedVulns]="openedVulns"
        ></app-infos>

        <!-- Centered spinner button when data is loading -->
        <div *ngIf="!findings" class="d-flex justify-content-center align-items-center h-100">
            <c-spinner color="primary" />

        </div>
    </c-col>
</c-row>

<br/>

<c-row class="d-flex align-items-stretch" style="height: calc(100vh - 320px);">
    <c-col xs="8" class="h-100 d-flex flex-column">
        <div class="h-100" style="overflow-y: auto;">
            <app-threat-list [items]="findings" />
        </div>
    </c-col>
    <c-col xs="4" class="h-100 d-flex flex-column">
        <div class="h-100" style="overflow-y: auto;">
            <app-reviews />
        </div>
    </c-col>
</c-row>

<br/>

<c-row class="d-flex align-items-stretch">
    <c-col xs="12">
        <app-waivers />
    </c-col>
</c-row>
<br/>