<app-widgets-dropdown *ngIf="widgetStats" [stats]="widgetStats" />
<br/>

<c-row *ngIf="canManage">
  <c-card class="mb-4">
    <c-card-body>
      <button color="primary" cButton (click)="importRepoModal()">
        <svg cIcon class="me-2" name="cil-code"></svg>
        Import new repositories (BULK)
      </button>
        &nbsp;
        <button color="light" cButton (click)="importSingleRepoModal()">
            <svg cIcon class="me-2" name="cil-clone"></svg>
            Import single repo
        </button>
      &nbsp;
      <button color="info" cButton (click)="createNewTeamModal()">
        <svg cIcon class="me-2" name="cil-people"></svg>
        Add new Team
      </button>
    </c-card-body>
  </c-card>
</c-row>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <div>
          <c-input-group class="mb-3">
            <span cInputGroupText id="filterTable">
              <svg cIcon name="cil-magnifying-glass" class="icon"></svg>
            </span>
            <input
                    aria-describedby="addon-wrapping"
                    aria-label="Filter"
                    type="text"
                    class="form-control"
                    placeholder="Filter results"
                    (input)="updateFilter($event)"
            />
          </c-input-group>
        </div>
        <br/>
        <ngx-datatable
                class="bootstrap"
                [rows]="rows"
                [columns]="columns"
                [columnMode]="'force'"
                [footerHeight]="50"
                [headerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10"
        >
          <ngx-datatable-column name="" prop="name2" [width]="50" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <button type="button" class="btn btn-outline-info" (click)='click(row)'>
                <svg cIcon name="cil-magnifying-glass"></svg>
              </button>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Target" prop="target" [width]="350">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <b>{{ row.target }}</b><br/>
              <small><a href="{{ row.repo_url }}">{{ row.repo_url }}</a></small>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Team" prop="team"></ngx-datatable-column>
          <ngx-datatable-column name="SAST">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <svg cIcon *ngIf="row.sast === 'DANGER'" name="cil-face-dead" size="3xl" style="color: #b02424"></svg>
              <svg cIcon *ngIf="row.sast === 'SUCCESS'" name="cil-happy" size="3xl" style="color: #72d321"></svg>
              <svg cIcon *ngIf="row.sast === 'WARNING'" name="cil-warning" size="3xl" style="color: #e86333"></svg>
              <svg cIcon *ngIf="row.sast === 'NOT_PERFORMED'" name="cil-deaf" size="3xl" style="color: #e3d0d0"></svg>
                <c-spinner *ngIf="row.sast === 'RUNNING'" style="color: #c1a7a7"></c-spinner>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="SCA">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <svg cIcon *ngIf="row.sca === 'DANGER'" name="cil-face-dead" size="3xl" style="color: #b02424"></svg>
              <svg cIcon *ngIf="row.sca === 'SUCCESS'" name="cil-happy" size="3xl" style="color: #72d321"></svg>
              <svg cIcon *ngIf="row.sca === 'WARNING'" name="cil-warning" size="3xl" style="color: #e86333"></svg>
              <svg cIcon *ngIf="row.sca === 'NOT_PERFORMED'" name="cil-deaf" size="3xl" style="color: #e3d0d0"></svg>
                <c-spinner *ngIf="row.sast === 'RUNNING'" style="color: #c1a7a7"></c-spinner>

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Secrets">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <svg cIcon *ngIf="row.secrets === 'DANGER'" name="cil-face-dead" size="3xl" style="color: #b02424"></svg>
              <svg cIcon *ngIf="row.secrets === 'SUCCESS'" name="cil-happy" size="3xl" style="color: #72d321"></svg>
              <svg cIcon *ngIf="row.secrets === 'WARNING'" name="cil-warning" size="3xl" style="color: #e86333"></svg>
              <svg cIcon *ngIf="row.secrets === 'NOT_PERFORMED'" name="cil-deaf" size="3xl" style="color: #e3d0d0"></svg>
                <c-spinner *ngIf="row.sast === 'RUNNING'" style="color: #c1a7a7"></c-spinner>

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="IaC">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <svg cIcon *ngIf="row.iac === 'DANGER'" name="cil-face-dead" size="3xl" style="color: #b02424"></svg>
              <svg cIcon *ngIf="row.iac === 'SUCCESS'" name="cil-happy" size="3xl" style="color: #72d321"></svg>
              <svg cIcon *ngIf="row.iac === 'WARNING'" name="cil-warning" size="3xl" style="color: #e86333"></svg>
              <svg cIcon *ngIf="row.iac === 'NOT_PERFORMED'" name="cil-deaf" size="3xl" style="color: #e3d0d0"></svg>
                <c-spinner *ngIf="row.sast === 'RUNNING'" style="color: #c1a7a7"></c-spinner>

            </ng-template>
          </ngx-datatable-column>
          <!-- Add other columns as needed -->
        </ngx-datatable>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-modal id="importRepoModal" alignment="center" [visible]="visible" (visibleChange)="handleImportRepoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Import repository</h5>
  </c-modal-header>
  <c-modal-body>
    <div class="d-flex justify-content-center mb-3">
      <button
              cButton
              type="button"
              class="btn btn-primary custom-btn"
              [class]="{'active': selectedRepo === 'GitLab'}"
              (click)="selectRepoType('GitLab')"
              [cTooltip]="'GitLab Repo Type'"
              cTooltipPlacement="top"

      >
        <svg cIcon name="cib-gitlab" size="4xl" class="custom-icon"></svg>
      </button>
      <button
              cButton
              type="button"
              class="btn btn-primary ms-3 custom-btn"
              [class]="{'active': selectedRepo === 'GitHub'}"
              (click)="selectRepoType('GitHub')"
              [cTooltip]="'GitHub Repo Type'"
              cTooltipPlacement="top"
      >
        <svg cIcon name="cib-github" size="4xl" class="custom-icon"></svg>
      </button>
    </div>
    <form [formGroup]="importRepoForm" (ngSubmit)="onSubmit()" cForm>
      <c-input-group class="flex-nowrap">
        <span cInputGroupText id="addon-wrapping">
          <svg cIcon name="cil-link" class="icon"></svg>
        </span>
        <input
                aria-describedby="addon-wrapping"
                aria-label="Repository URL"
                cFormControl
                type="url"
                class="form-control"
                id="repoUrl"
                formControlName="repoUrl"
                placeholder="Repository URL"
                required
        />
      </c-input-group>
      <br/>
      <c-input-group class="flex-nowrap">
        <span cInputGroupText id="addon-wrapping2">
          <svg cIcon name="cil-lock-locked" class="icon"></svg>
        </span>
        <input
                aria-describedby="addon-wrapping"
                aria-label="Access Token"
                cFormControl
                type="password"
                class="form-control"
                id="accessToken"
                formControlName="accessToken"
                placeholder="Access Token"
                required
        />
      </c-input-group>
      <br/>
      <c-input-group class="mb-3">
        <span cInputGroupText id="addon-wrapping3">
          <svg cIcon name="cil-people" class="icon"></svg>
        </span>
        <select cSelect id="inputGroupSelect01" formControlName="team">
          <option value="" disabled selected>Select Team...</option>
          <option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</option>
        </select>
      </c-input-group>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="closeModal()" cButton color="secondary">Close</button>
    <button (click)="onSubmit()" cButton color="primary" [disabled]="importRepoForm.invalid">Select projects...</button>
  </c-modal-footer>
</c-modal>

<c-modal size="xl" id="repoListModal" alignment="center" [visible]="visibleList" (visibleChange)="handleListRepoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>List of the repositories to import</h5>
  </c-modal-header>
  <c-modal-body>
    <div *ngIf="isLoading; else tableTemplate" class="d-flex justify-content-center align-items-center" style="height: 200px;">
      <div class="text-center">
        <c-spinner></c-spinner>
        <div>Loading...</div>
      </div>
    </div>
    <ng-template #tableTemplate>
      <div>
        <c-input-group class="mb-3">
          <span cInputGroupText id="filterTableRepositories">
            <svg cIcon name="cil-magnifying-glass" class="icon"></svg>
          </span>
          <input aria-describedby="addon-wrapping"
                 aria-label="Access Token"
                 type="text" class="form-control" placeholder="Filter results" (input)="updateFilterRepo($event)"
          />
        </c-input-group>
      </div>
      <br/>
      <ngx-datatable
              class="bootstrap"
              [rows]="repoRows"
              [columns]="columns"
              [columnMode]="'force'"
              [footerHeight]="50"
              [headerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="10"
      >
        <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
        <ngx-datatable-column name="URL" prop="repo_url"></ngx-datatable-column>
        <ngx-datatable-column name="Namespace" prop="namespace"></ngx-datatable-column>
        <ngx-datatable-column name="Import" [width]="50">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <button *ngIf="!row.imported" type="button" class="btn btn-outline-primary" (click)="importRepo(row)">
              <svg cIcon name="cil-cloud-download"></svg>
            </button>
            <button *ngIf="row.imported" type="button" class="btn btn-success" disabled>
              <svg cIcon name="cil-check"></svg>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </ng-template>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="closeModal()" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>

<c-modal id="importSingleRepoModal" alignment="center" [visible]="visibleSingleRepoModal" (visibleChange)="handleImportSingleRepoChange($event)">
    <c-modal-header>
        <h5 cModalTitle>Import Single repository</h5>
    </c-modal-header>
    <c-modal-body>
        <div class="d-flex justify-content-center mb-3">
            <button
                    cButton
                    type="button"
                    class="btn btn-primary custom-btn"
                    [class]="{'active': selectedRepo === 'GitLab'}"
                    (click)="selectRepoType('GitLab')"
                    [cTooltip]="'Import Single GitLab repo'"
                    cTooltipPlacement="top"

            >
                <svg cIcon name="cib-gitlab" size="4xl" class="custom-icon"></svg>
            </button>
            <button
                    cButton
                    type="button"
                    class="btn btn-primary ms-3 custom-btn"
                    [class]="{'active': selectedRepo === 'GitHub'}"
                    (click)="selectRepoType('GitHub')"
                    [cTooltip]="'Import Single GitHub repo'"
                    cTooltipPlacement="top"
            >
                <svg cIcon name="cib-github" size="4xl" class="custom-icon"></svg>
            </button>
        </div>
        <form [formGroup]="importSingleRepoForm" (ngSubmit)="onSubmit()" cForm>
            <c-input-group class="flex-nowrap">
                <span cInputGroupText id="addon-wrapping6">
                  <svg cIcon name="cil-link" class="icon"></svg>
                </span>
                <input
                        aria-describedby="addon-wrapping"
                        aria-label="Repository URL (to project)"
                        cFormControl
                        type="url"
                        class="form-control"
                        id="repoUrl2"
                        formControlName="repoUrl"
                        placeholder="Repository URL (to project)"
                        required
                />
            </c-input-group>
            <br/>
            <c-input-group class="flex-nowrap">
                <span cInputGroupText id="addon-wrapping5">
                  <svg cIcon name="cil-lock-locked" class="icon"></svg>
                </span>
                <input
                        aria-describedby="addon-wrapping"
                        aria-label="Access Token"
                        cFormControl
                        type="password"
                        class="form-control"
                        id="accessToken2"
                        formControlName="accessToken"
                        placeholder="Access Token"
                        required
                />
            </c-input-group>
            <br/>
            <c-input-group class="mb-3">
                <span cInputGroupText id="addon-wrapping4">
                  <svg cIcon name="cil-people" class="icon"></svg>
                </span>
                <select cSelect id="inputGroupSelect02" formControlName="team">
                    <option value="" disabled selected>Select Team...</option>
                    <option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</option>
                </select>
            </c-input-group>
        </form>
    </c-modal-body>
    <c-modal-footer>
        <button (click)="closeModal()" cButton color="secondary">Close</button>
        <button (click)="onSubmitSingleRepo()" cButton color="primary" [disabled]="importSingleRepoForm.invalid">Import single repo</button>
    </c-modal-footer>
</c-modal>


<c-modal size="lg" id="newTeamModal" alignment="center" [visible]="visibleNewTeam" (visibleChange)="handleNewTeam($event)">
  <c-modal-header>
    <h5 cModalTitle>Add new Team</h5>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="newTeamForm" (ngSubmit)="onSubmitNewTeam()" cForm>
      <c-input-group class="flex-nowrap">
        <span cInputGroupText id="addon-wrapping1">
          <svg cIcon name="cil-people" class="icon"></svg>
        </span>
        <input
                aria-describedby="addon-wrapping"
                aria-label="Team Name"
                cFormControl
                type="text"
                class="form-control"
                id="teamName"
                formControlName="name"
                placeholder="Team name"
                required
        />
      </c-input-group>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="closeNewTeamModal()" cButton color="secondary">Close</button>
    <button (click)="onSubmitNewTeam()" cButton color="primary" [disabled]="newTeamForm.invalid">Add new Team</button>
  </c-modal-footer>
</c-modal>
<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
          [color]="toastStatus"
          (visibleChange)="onVisibleChange($event)"
          [visible]="visibleToast">
    <c-toast-header>
      Dashboard notification
    </c-toast-header>
    <c-toast-body>
      <p>{{toastMessage}}</p>
    </c-toast-body>
  </c-toast>
</c-toaster>
