<c-card class="h-300" style="height: 300px;">
    <c-card-header>
        Supress findings rules
    </c-card-header>
    <c-card-body>
        <c-alert color="primary" class="d-flex align-items-center">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                <use xlink:href="#info-fill" />
            </svg>
            <div>This part will be developed in next releases.
                In this section You will be able to create flexible rules for supress issues</div>
        </c-alert>
    </c-card-body>
</c-card>
